body {
    text-align: center;
    background-color: rgb(27, 28, 29);
    color: aliceblue;
}

h1 {
    color: aliceblue;
}

button {
    background-color: black;
    color: aliceblue;
    border: solid 5px rgb(104, 75, 13);
    border-radius: 20px;
    width: 100px;
    height: 40px;
}

div {
    border: solid 5px rgb(63, 52, 34);
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    margin-top: 110px;
    width: 500px;
    padding: 100px;
    background-color: rgb(78, 67, 53);
    height: 150px;}